body {
  max-width: 960px;
  margin: auto;
  font-family: 'Work Sans', sans-serif;
}
.grid-container {
  display: grid;
  grid-template:
    "header header header header header header" 400px
    "item1  item1  item2  item2  item3  item3"  400px
    "item4  item4  item4  item5  item5  item5"  300px
    "mail   mail   mail   mail   mail   mail"   auto/
    auto    auto   auto   auto   auto   auto;
  grid-gap: 12px;
}


/* NEW CATEGORY CODE START*/
#main-mosaic{
text-align: center;
justify-content: center;
margin-bottom: 30px;




}

.img-box {
  position: relative;
}

.new-box {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 20px;
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 12px;
  color: white;
  background-color: grey;
  border: none;
  width: 50px;



}

.light-box {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 20px;
  position: absolute;
  right: 30px;
  top: 45px;
  font-size: 9px;
  color: white;
  background-color: #2a4d6c;
  border: none;
  width: 50px;
  height: 24px;
  vertical-align: middle;
  padding-top: 5px;

}
.grid-container-category {
  display: grid;
  grid-template: 33% 33% 33% / 25% 25% 25% 25%;
  grid-gap: 12px;
  max-width: 960px;
  contain: content;
  padding: 0 20px;

}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 9px;
}

.box-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  contain: content;
}
.box-two {
  grid-column-end: span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  contain: content;
}
}

#row-1-col-1 {
 order: 1;
}
#row-1-col-2 {
  order: 2;
 }
#row-1-col-3 {
  order: 3;
}
#row-2-col-1 {
  order: 4;
}
#row-2-col-2 {
  order: 5;
}
#row-2-col-3 {
  order: 6;
}
#row-2-col-4 {
  order: 7;
}
#row-3-col-1 {
  order: 8;
}
#row-3-col-2 {
  order: 9;
}

main {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 960px;
}

#filter-by {
  text-align: left;
}

#sort-by {
  text-align: right;
}

/* NEW CATEGORY CODE END*/

/* NEW FAQP START*/

#header-faq {
  color: #cf2c30;
}

#main-picture-faq {
  background-image: url("./dark\ shoe.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  padding: 100px 0;
  color: white;
  background-position: center;
  font-size: 30px;
}

#faq-text-img {
  color: white;
  font-weight: bold;
  font-size: px;
}

.sub-section {
  display: flex;
  margin: 20px 0;
}

.title-icon {
  width: 40%;
  text-align: right;
  vertical-align: middle ;
  padding: 5px 30px 5px;
  border-right: 3px solid #cf2c30;
}

.text-part {
  width: 60%;
  text-align: left;
  padding: 5px 30px;
  font-size: 10px;

}

h5 {
  color: #cf2c30;
}

/* NEW FAQP END*/



/* BOTTOM MAIL PART FIX */
#header-category, 
#text-category,
#mail-category
{
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* BOTTOM MAIL PART FIX */

.grid-container >a {
  text-align: center;
  text-decoration: none;
  color: white;
}
.grid-container>a h3{
    margin-top: 50px;
}

.stayHome:hover, .men:hover, .women:hover, .accessories:hover, .womenShoes:hover, .menShoes:hover {
    opacity:0.8;
}
.stayHome {
  grid-area: header;
  background-image: url("https://images.pexels.com/photos/2948260/pexels-photo-2948260.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000");
  background-position: center bottom +25%;
  background-color: black;
  background-size: cover;
}

.men {
  grid-area: item1;
  background-image: url("https://images.unsplash.com/photo-1556278777-a2a98c0d56da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-position: center bottom 0px;
  background-size: cover;
}

.women {
  grid-area: item2;
  background-image: url("https://images.pexels.com/photos/1374910/pexels-photo-1374910.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center bottom;
  background-size: cover;
}

.accessories {
  grid-area: item3;
  background-image: url("https://images.unsplash.com/photo-1596540114499-049fe8531260?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  background-position: center bottom 0px;
  background-size: cover;
}
.menShoes {
  grid-area: item4;
  background-image: url("https://images.unsplash.com/photo-1549298916-b41d501d3772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  background-position: center bottom;
  background-size: cover;
}
.womenShoes {
  grid-area: item5;
  background-image: url("https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000");
  background-position: center bottom;
  background-size: cover;
}

.mail {
  grid-area: mail;
  color: black !important;
  padding: 25px 0px;
  border-top: 1px solid #66666644 ;
}
.mail>i{
    color: #555;
}
.mainButton{
    border:none;
    padding: 2px 0px;
    width: 120px;
    font-size: smaller;
    background-color: white;
}
.mailButton{
    border:none;
    padding: 4px 0px;
    width: 200px;
    font-size: smaller;
    color:white;
    background-color: #cf2c30;
}
button:hover{
    cursor: pointer;
}
.center{
    margin-top:100px;
}
